@import '../../../../styles/layout.scss';

.home-rides-card {

    width: 100%;
    margin-top: $base-margin;
    padding-bottom: $base-margin;

    .home-rides-card-title {
        margin: $base-margin $base-margin 0 $base-margin;
    }

    .home-rides-card-list {

        .home-rides-card-empty {
            margin: $base-margin $base-margin 0 $base-margin;
        }

        .recent-ride-list-item {
            .recent-ride-list-item-content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0.5em 1em 0.5em 1em;
            }
        }

    }

    .recent-ride-skeleton {
        margin: $base-margin $base-margin 0 $base-margin;
    }

}
