.progress-overview-card {

    .progress-overview-card-content {

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        height: fit-content;

        .progress-overview-card-start {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            width: fit-content;

            .progress-overview-card-icon-parent {
                height: 25%;
                width: fit-content;

                .progress-overview-card-icon {
                    max-height: 3em;
                    height: 100%;
                }
            }

            .progress-overview-card-texts {
                display: flex;
                flex-direction: column;
                margin-top: 1em;
                height: 75%;
            }

        }

    }

}