$mobile-break-point: 600px;

.progress {

	height: auto;
	width: 100%;

	@media screen and (min-width: $mobile-break-point) {
		height: auto;
		width: 10vw;
	}

	.progress-circle {
		position: absolute;
		left: 0;
	}

	.progress-label {

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		%progress-label {
			font-family: "Roboto", "Helvetica", "Arial", sans-serif;
			letter-spacing: 0.0075em;
		}

		.progress-label-text {
			@extend %progress-label;
			font-size: 1.5em;
			font-weight: 500;
		}

		.progress-label-subtext {
			@extend %progress-label;
			font-size: 1em;
			color: grey;
		}

	}

}