$mobile-break-point: 600px;

.circular-progress-bar {

	height: 75%;
	width: fit-content;
	max-height: 100%;

	svg {
		display: block;
		height: 100%;
		width: auto;
		max-height: 100%;
		margin: 0 auto;
	}

	// Selects the div element that contain the element children
	svg + div {
		margin-top: -0% !important;
		top: 0px;
	}

}

// Selects the dic the contain the progress bar (parent of the svg element)
.circular-progress-bar > div {
	height: 100%;
	width: fit-content;
}