.home-cards {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1em;

    .home-progress-overview-card {
        width: 100%;
        height: fit-content;
    }

}